:root {
  --background-green: #2a5b3d;
  --background-white: rgba(236, 236, 236, 0.85);
  --background-light: #e1e2e1;
  --background-black: rgba(16, 32, 16, 0.9);
  --link-light-gold: #f0e68c;
  --link-bright-orange: #ffa500;
  --accent-green: rgb(4, 110, 27);
  --accent-orange: rgb(231, 181, 43);
  --nav-black: #2a5b3d;
  --nav-white: #fffefc;
  --text-white: #fafafa;
  --text-black: rgb(0, 0, 0);
  --carousel-black: rgba(16, 32, 16, 0.9);
  --link-green-old: rgb(25, 223, 58);
}

.App {
  background-color: var(--background-light);
  color: var(--text-white);
  height: 100vh;
  overflow-y: scroll !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

html {
  font-size: clamp(14px, 2vw, 18px);
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h4,
h5,
h6 {
  font-family: "Cinzel", serif;
}

/* Basic pages */

.paragraph-container > p {
  margin: auto;
  margin-bottom: 0.9rem;
  max-width: 80rem;
  text-align: left;
  width: fit-content;
}

.page-header {
  display: flex;
  justify-content: center;
  color: var(--background-green);
  margin-top: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 0.6rem;
}

.section-text {
  padding: 1rem 2rem;
}

.page-subheader {
  font-size: x-large;
}

.page-content {
  max-height: auto;
  min-height: 75%;
}

.contract-paragraph {
  line-height: 1.5rem;
  margin: auto;
  text-align: left;
  width: fit-content;
}

section {
  background-color: var(--background-green);
  border-radius: 0.6rem;
  margin: auto;
  margin: 0.5rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 95%;
}

section h3 {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

.section-text {
  padding: 1rem;
}

.contract-variant {
  text-align: center;
}

a {
  color: var(--link-light-gold);
}

a:hover {
  color: var(--link-bright-orange);
}

label {
  padding-left: 0.625rem;
}

/* Page components */

.columns-container {
  display: flex;
  margin-top: 1.2rem;
}

.cat-card-column {
  margin: auto;
  margin-bottom: 0.6rem;
  width: fit-content;
}

.centre-column {
  width: auto;
}

.list-container {
  margin: auto;
  margin-bottom: 1.8rem;
  min-width: 18.7rem;
  text-align: left;
  width: 60%;
}

.item-container {
  display: flex;
}

.item-container p {
  margin: auto;
  width: 90%;
}

.side-img {
  border-radius: 0.6rem;
  display: block;
  height: auto;
  margin: auto;
  margin-bottom: 1.2rem;
  max-width: 80%;
  object-fit: contain;
}

.bottom-img {
  margin: 0.6rem;
  margin-bottom: 1.8rem;
  min-width: 6.2rem;
  width: 30%;
}

.centre-img {
  border-radius: 0.625rem;
  display: block;
  height: auto;
  margin-left: 10%;
  max-width: 100%;
  object-fit: contain;
}

.video-frame-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.media-grid {
  display: grid;
  gap: 1.5rem;
  margin: 2rem auto;
  width: 100%;
}

.media-grid .grid-item {
  background-color: var(--background-light);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive grid layout */
@media (min-width: 1024px) {
  .media-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .media-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .media-grid {
    grid-template-columns: 1fr;
  }
}

.pdf-container {
  margin: auto;
  margin-top: 1.25rem;
}

/* Navigation */

.nav-bar {
  background-color: var(--nav-black) !important;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-link {
  text-decoration: none;
}

.logo-brand {
  height: 100%;
  display: flex;
  text-decoration: none;
}

.logo-img {
  height: 60px;
  width: auto;
}

.logo-text {
  color: var(--nav-white);
  font-size: x-large;
  font-style: italic;
  height: auto;
  line-height: normal;
  margin-top: 0.5rem;
  padding: 0.3125rem;
}

.nav-link {
  color: var(--nav-white) !important;
  cursor: pointer;
  padding: 0.625rem 0.9375rem;
  text-decoration: none;
}

.nav-link.active {
  color: var(--link-bright-orange) !important;
}

.dropdown-menu {
  background-color: var(--nav-black);
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  text-align: center;
}

.dropdown-link {
  color: var(--nav-white);
  text-decoration: none;
}

.dropdown-item {
  color: var(--text-white);
}

/* Footer */

.footer {
  background-color: var(--nav-black);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.cert-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: safe center;
  margin: auto;
}

.cert-container::-webkit-scrollbar {
  display: none;
}

.cert {
  height: 3.125rem;
  margin: 0.625rem;
  width: auto;
}

.social-container {
  display: flex;
  font-size: 2rem;
  justify-content: center;
}

.social-icon {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  color: var(--text-white);
}

/* Cat cards */

.cat-card-carousel {
  width: 100%;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.cat-card-wrapper {
  margin: 0.5rem;
  padding: 0;
  box-sizing: border-box;
}

.cat-card {
  background-color: var(--background-light);
  border-radius: 0.9rem;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cat-card:hover {
  filter: brightness(1.4);
}

.cat-img {
  width: 100%;
  height: 21rem;
  object-fit: cover;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
}

.cat-text {
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-black);
}

.placeholder-img {
  cursor: default;
  min-width: 12.5rem;
  width: 40%;
}

.modal-img {
  margin-left: 5%;
  margin-right: 5%;
}

/* Cat profile modal */

.modal {
  background-color: var(--carousel-black);
}

.cat-modal {
  width: 90%;
}

.profile-header {
  display: flex;
  justify-content: center;
}

.profile-title {
  margin: auto;
  padding-left: 1.1875rem;
}

.btn-close {
  justify-self: right;
}

.cat-columns-container {
  text-align: center;
}

.profile-info-container {
  display: flex;
  margin-bottom: 0.6rem;
}

.cat-info-right-col {
  padding: 0.1875rem;
}

.carousel-counter {
  text-align: center;
  margin-bottom: 0.6rem;
  font-size: 1rem;
  color: red;
}

.kitten-images-container {
  display: grid;
  height: fit-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  width: 100%;
}

.kitten-images-container .cat-img {
  margin-bottom: 0.6rem;
}

.preview-link {
  padding-top: 0.6rem;
}

/* Accordion menu */

.accordion {
  border-radius: 0.6rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
  max-width: 80rem;
  width: 95%;
}

.accordion-button {
  background-color: var(--text-white);
  color: var(--background-green);
  transition: padding 0.25s;
}

.accordion-button:hover {
  color: var(--link-bright-orange);
}

.accordion-button:not(.collapsed) {
  background-color: var(--text-white);
}

.accordion-header-text {
  font-size: large;
  font-weight: bold;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.accordion-selection-count {
  margin-bottom: 0;
  margin-left: 0.6rem;
}

.accordion-item {
  background-color: var(--background-green);
  color: var(--text-white);
  margin-bottom: 0;
  text-align: left;
}

/* Kitten gallery */

.gallery-container {
  display: grid;
  gap: 0.9375rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: auto;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  width: 95%;
}

.filter-accordion {
  min-width: 16.2rem;
  text-align: center;
  width: 50%;
}

.parent-accordions-container {
  justify-content: center;
}

.parent-accordion {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: 100%;
}

.checkbox {
  accent-color: var(--accent-green);
}

.filter-warning {
  background-color: var(--text-white);
  border-radius: 1.25rem;
  color: var(--text-black);
  margin: auto;
  margin-top: -0.625rem;
  padding: 0.625rem;
  padding-bottom: 0.3125rem;
  text-align: center;
  width: fit-content;
}

.selection-warning {
  background-color: var(--accent-orange);
}

/* Email Form */

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: -0.6rem;
  margin-bottom: 0.6rem;
}

.form-label {
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;
}

.form-input {
  border-radius: 0.6rem;
  margin: auto;
  padding: 0.125rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 12.5rem;
}

.form-button {
  background-color: var(--accent-green);
  border: none;
  border-radius: 0.6rem;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.form-button:hover {
  background-color: var(--link-bright-orange);
}

.form-alert {
  background-color: var(--text-white);
  border-radius: 0.9375rem;
  color: var(--text-black);
}

.form-alert-button {
  background-color: var(--accent-green) !important;
  border-radius: 0.625rem !important;
  color: var(--text-white) !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

@media (width <= 60.5rem) {
  .profile-title {
    margin: auto;
    padding-left: 1.0625rem;
  }

  .gallery-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
